<div class="container-fluid">
    <div class="row row-home text-center">
        <div class="jumbotron home-panel">
            <div id="content-panel">
                <h2 class="no-margin">Login</h2>
                <div class="row row-margin socialButtons text-center">
                    <a href="/auth/facebook" target="_self" class="btn btn-block btn-facebook">
                        <i class="fa fa-facebook"></i>
                        <span class="hidden-xs">Facebook</span>
                    </a>
                    <a href="/auth/twitter" target="_self" class="btn btn-block btn-twitter">
                        <i class="fa fa-twitter"></i>
                        <span class="hidden-xs">Twitter</span>
                    </a>
                    <a href="/auth/google" target="_self" class="btn btn-block btn-google">
                        <i class="fa fa-google-plus"></i>
                        <span class="hidden-xs">Google+</span>
                    </a>
                </div>
            </div>
            <div id="map-content">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3302.145362238168!2d-84.24893999999999!3d34.14262300000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f59da29fd4505d%3A0x87a5e5171b8d5499!2s1755+Grassland+Pkwy%2C+Alpharetta%2C+GA+30004%2C+EE.+UU.!5e0!3m2!1ses!2sar!4v1426858596791" class="map" frameborder="0" style="border:0"></iframe>
                <div class="row text-center">
                    <div type="button" class="btn btn-sm btn-default" id="back">Go Back</div>
                </div>
            </div>
        </div>
    </div>
</div>

