<div class="container-fluid">
	<div class="row row-home text-center">
		<div class="jumbotron home-panel">
			<div id="content-panel">
				<h2 class="no-margin">Find your session</h2>
				<div class="row row-margin">
		            <div class="right-inner-addon">
				        <i class="fa fa-search"></i>
				        <input type="search" class="form-control" placeholder="Search" />
				    </div>
				</div>
				<div class="row row-margin">
					<div class="date-picker"  data-date="2014/09/02" data-keyboard="true">
		                <div class="date-container pull-left">
		                    <h5 class="weekday">Monday</h5>
		                    <h3 class="date">Februray 4th</h3>
		                </div>
		                <span data-toggle="datepicker" data-type="subtract" class="fa fa-angle-left"></span>
		                <span data-toggle="datepicker" data-type="add" class="fa fa-angle-right"></span>
		                <div class="input-group input-datepicker">
		                    <input type="text" class="form-control" data-format="YYYY/MM/DD" placeholder="YYYY/MM/DD">
		                    <span class="input-group-btn">
		                        <button class="btn btn-default" type="button">Go!</button>
		                    </span>
		                </div>
		                <span data-toggle="calendar" class="fa fa-calendar"></span>
		            </div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 checkbox text-center">
					    <label>
					      	<input type="checkbox"> Therapeutic
					    </label>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 checkbox text-center">
					    <label>
					      	<input type="checkbox"> Adaptive
					    </label>
					</div>
				</div>
				<div class="text-center">
					<button type="button" class="btn btn-default">Results</button>
				</div>
			</div>
			<div id="map-content">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3302.145362238168!2d-84.24893999999999!3d34.14262300000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f59da29fd4505d%3A0x87a5e5171b8d5499!2s1755+Grassland+Pkwy%2C+Alpharetta%2C+GA+30004%2C+EE.+UU.!5e0!3m2!1ses!2sar!4v1426858596791" class="map" frameborder="0" style="border:0"></iframe>
				<div class="row text-center">
					<div type="button" class="btn btn-sm btn-default" id="back">Go Back</div>
				</div>
			</div>
		</div>
	</div>
</div>