<footer>
	<div class="col-lg-4 col-md-4 text-left">
		<h2 class="no-margin">No Boundaries</h2>
		<div class="copyright">Copyright © NoBoundaries</div>
	</div>
	<div class="col-lg-8 col-md-8 text-right">
		<a href="" class="data-footer"><i class="fa fa-leanpub"></i> Blog</a>
		<a href="/contact" class="data-footer" title="Contact me!"><i class="fa fa-envelope"></i> Contact</a>
		<a href="" class="data-footer" id="gh" target="_blank" title="Twitter"><i class="fa fa-twitter"></i> Twitter</a>
		<a href="" class="data-footer" target="_blank" title="facebook"><i class="fa fa-facebook"></i> Facebook</a>
		<br><br>
		<a id="location" class="data-footer location-footer"><i class="fa fa-map-marker"></i> 1755 Grassland Parkway Suite B, Alpharetta, GA 30004</a>
	</div>
</footer>