<div class="header">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <i class="fa fa-heart fa-2x"></i>
                    <i class="fa fa-home fa-2x" ng-show="loggedIn"> Home</i>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-href="/login"><i class="fa fa-user fa-2x"> Login</i></a></li>
                    <li><a ng-href="/register"><i class="fa fa-user-plus fa-2x"> Register</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>